<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>飞</title>
</head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $.ajax({
            url:'/backweb/article',
            type:'GET',
            dataType:'json',
            success:function(data){
                for(var i=0; i<data.length; i++){
                    s = '<p>标题:' + data[i].title
                    s += '描述' + data[i].desc
                    s += '内容：' + data[i].content
                     s += '<a onclick = "del_art(' + data[i].id+ ')">删除</a></p>'

                    $('#content').append(s)

                }
            },
            error:function(data){
                alert('失败')
            }
        })

        function del_art(id){

            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                url:'/api/article/art/' +id + '/',
                type: 'DELETE',
                headers:{'X-CSRFToken': csrf},
                dataType: 'json',
                success: function(data){
                    alert('删除成功')
                },
                error: function(data){
                    alert('删除失败')
                }
            })
        }
    </script>
<body>
    {% csrf_token %}
    <div id="content">

    </div>
</body>
</html>