{% extends 'backweb/base.html' %}

{% block title %}
    添加文章页面
{% endblock %}

{% block content %}
    {{ form.errors.title }}
    {{ form.errors.desc }}
    {{ form.errors.content }}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>标题: <input type="text" name="title"></p>
        <p>简短描述: <input type="text" name="desc"></p>
        <p>内容: <textarea id="editor_id" name="content"></textarea> </p>
        <p>关键词<input type="text" name="keyword"></p>
        <p>是否显示<input type="text" name="is_display"></p>
        <p>首图: <input type="file" name="icon">
            {% if article.icon %}
                <img src="/media/{{article.icon}}">
            {% endif %}
        </p>
        <input type="submit" value="提交">
    </form>

{% endblock %}